<%= form_for @recipe do |f|%>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <br>
  <%= f.label :content %>:
  <%= f.text_area :content,  cols: "30", rows: "10" %>

  <%= f.label :preptime %> (minutes):
  <%= f.number_field :preptime %>

  <%= f.label :servings %>:
  <%= f.number_field :servings %>

  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all.sort_by(&:name), :id, :name %> <br>
  <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_fields| %>
    <% 5.times do %>
      <%= ingredients_fields.label "Add ingredient" %>:
      <%= ingredients_fields.text_field :name %>
    <% end %>
  <% end %>
</p>

  <%= f.submit %>
<% end %>