<%= form_for @recipe do |f|%>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <br>
  <%= f.label :content %>:
  <%= f.text_area :content %>

  <%= f.label :preptime %> (minutes):
  <%= f.number_field :preptime %>

  <%= f.label :servings %>:
  <%= f.number_field :servings %>

  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
</p>

  <%= f.submit %>
<% end %>