<div class="list_recipe container">
<h3> <%= @recipe.name %> </h3>
<h4> Submitted by: <%= link_to @recipe.user.email, user_path(@recipe.user) %> </h4>
<h4>Makes: <%= @recipe.servings %> servings.</h4>
<h4>Prep time: <%= @recipe.preptime %> minutes.</h4>
<ul class= "horizontal_list">
<strong>Required ingredients:</strong> <% @recipe.ingredients.each do |ingredient| %>
  <li class= "horizontal_list"><%= link_to ingredient.name, ingredient_path(ingredient) %> | </li>
<% end %>
</ul>

<strong>Nutrients:</strong> <% @recipe.nutrients.each do |nutrient| %>
  <li class= "horizontal_list"><%= link_to nutrient.name, nutrient_path(nutrient) %> | </li>
<% end %>
</ul>

<p><%= @recipe.content %> </p>

<% if @recipe.user.id != current_user.id %>
  <% if (@recipe.ratings.count > 0) && (@recipe.ratings.map(&:user_id).include? current_user.id) %>
    <p>Your rating: <%= @recipe.user_score(@recipe.id, current_user.id) %> </p>
  <% else %>
    <p><%= render 'rating' %></p>
  <% end %>
<% end %>

<% if @recipe.ratings.count > 0 %>
  <p> Average score: <%= @recipe.average_score.round(2) %> <br>
  (<%= @recipe.ratings.count %> reviews) </p>
<% end %>

<%= link_to "Photos of this recipe", recipe_photos_path(@recipe) %>
<br>
<% if can? :update, @recipe %>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
<% end %>
<br>

<%= render 'favorite' %>

<h5>Comments:</h5>
  <div class="comments_container">
    <% @recipe.comments.each do |comment| %>
      <p class="comment">
        <%= comment.name %> says: <br>
        <%= comment.content %> <br>
      </p>
    <% end %>
  </div>

<h5>Submit a comment:</h5>
<%= form_for [@recipe, @comment] do |f|%>
  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
    
    <br>
    <%= f.label :content %>:
    <%= f.text_area :content,  cols: "40", rows: "5" %>
  </p>
  <%= f.submit %>
<% end %>

</div>



