<h1> <%= @recipe.name %> </h1>
<h3> <%= @recipe.user.email %> </h3>
<h3>Makes <%= @recipe.servings %> servings.</h3>
<h3>Prep time: <%= @recipe.preptime %> minutes.</h3>
<h3>Required ingredients:</h3>
<% @recipe.ingredients.each do |ingredient| %>
  <%= link_to ingredient.name, ingredient_path(ingredient) %>
<% end %>

<p><%= @recipe.content %> </p>

<% if @recipe.ratings.count > 0 %>
  <% if @recipe.ratings.map(&:user_id).include? current_user.id %>
    <p>Your rating: <%= @recipe.user_score(@recipe.id, current_user.id) %> </p>
    <% end %>
  <% else %>
    <p><%= render 'rating' %></p> 
<% end %>

<% if @recipe.ratings.count > 0 %>
  <p> Average score: <%= @recipe.average_score.round(2) %> <br>
  (<%= @recipe.ratings.count %> reviews) </p>
<% end %>